body {
  font-family: Arial;
  text-align: center;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 150px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}